@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply capitalize w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-full transition-colors transition-shadow hover:shadow-lg md:py-4 md:text-lg md:px-10;
    }

    .button-primary {
        @apply button text-gray-700 bg-white hover:text-indigo-700;
    }

    .button-secondary {
        @apply button text-white bg-gray-700 hover:text-indigo-200;
    }

    .messages-users-container {
        width: calc(100% + theme('width.72'));
    }

    .servers-messages-container {
        width: calc(100% + theme('width.72') + theme('width.84'));
    }
}

@layer utilities {
    .scroll-snap-start {
        scroll-snap-align: start;
    }

    .scroll-snap-x {
        scroll-snap-type: x mandatory;
    }

    .scroll-hidden {
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* internet explorer */
    }

    .scroll-hidden::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

    .transition-custom {
        transition-property: width, height, left, opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;
    }
}

html, body, #__next {
    height: 100%;
    color: white;
    @apply bg-gray-700
}
