@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply capitalize w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-full transition-colors transition-shadow hover:shadow-lg md:py-4 md:text-lg md:px-10;
    }

    .button-primary {
        @apply button text-gray-700 bg-white hover:text-indigo-700;
    }

    .button-secondary {
        @apply button text-white bg-gray-700 hover:text-indigo-200;
    }
}

@layer utilities {
    .scroll-snap-start {
        scroll-snap-align: start;
    }

    .scroll-ml-84 {
        scroll-margin-left: 21rem;
    }

    .scroll-snap-x {
        scroll-snap-type: x mandatory;
    }

    .scroll-hidden {
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* internet explorer */
    }

    .scroll-hidden::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
}